<a href="https://colab.research.google.com/github/divafahrezi/Python/blob/main/Mini%20Portofolio%20Diva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Portofolio Pyhton

$\textbf{Nama}$

- Nama: Muhamad Diva Fahrezi
- IPK: 3.35

# Normal

## 1. Operasi Variabel

> Misal kita memiliki toko sepatu. Modal membeli 1 kodi sepatu adalah Rp 1.000.000. Setiap sepatu dijual seharga Rp 80.000. Buatlah variabel modal, kuantitas, dan harga_jual sesuai informasi di atas. Hitung profit yang didapatkan jika semua sepatu berhasil terjual, dan masukkan ke variabel profit.

Saran langkah-langkah pengerjaan
1. Convert terlebih dahulu kodi dalam jumlah barang (1 kodi = xyz buah sepatu)
2. Gunakan operasi matematika sederhana untuk menghitung profit menggunakan tiga buah variabel yang sudah ditentukan

In [ ]:
modal = 1000000
kuantitas = 20 #1 kodi 20 pasang
harga_jual = 80000

profit = ((harga_jual * kuantitas) - modal)

print(f'Profit Jual Sepatu = {profit}')

Profit Jual Sepatu = 600000

Jadi, dari profit di atas, dapat disimpulkan bahwa...

*   Profit yang kita dapatkan dari hasil menjual sepatu adalah Rp600.000

## 2. Package Python dan Dictionary

> Kita akan coba mengakses data scientific article dari PLOS corpus
    Menggunakan API request dengan kode berikut :
```
import requests
response = requests.get('http://api.plos.org/search?q=title:"Drosophila" AND body:"RNA"&fl=id,abstract')
```
**perhatikan tanda kutipnya tidak salah ketika meng-copy ke dalam python

Pertanyaannya :
Convert response.content dari request tersebut dari JSON Format ke dalam Dictionary, dan print-kan key di dalamnya apa saja

Saran langkah-langkah pengerjaan
1. Ikuti code dari soal, kemudian ekstrak value dari variable response menggunakan dot (.) content menjadi sebuah variabel baru (dictionary)
2. Gunakan library json, convert hasil content menggunakan json.loads
3. Print keys dari dictionary tersebut

In [2]:
import requests
import json

response = requests.get('http://api.plos.org/search?q=title:"Drosophila" AND body:"RNA"&fl=id,abstract')

dictionary = json.loads(response.content)

print("Keys in the response dictionary:")
for key in dictionary.keys():
    print(key)

Keys in the response dictionary:
response

:Jadi, dari url link di atas, kami menyimpulkan bahwa memiliki keys **response**

# Intermediate

## 3. Operasi dalam List

> Buatlah list dengan 10 nama kota di indonesia, kemudian:
1. Urutkan nama kota di dalam list berdasarkan abjad (a)
2. Ambil 4 kota pertama dari list tersebut (yang telah diurutkan) (b)
3. Ambil 3 kota terakhir dari list tersebut (yang telah diurutkan) (c)

Saran langkah-langkah pengerjaan
1. Tidak ada ketentuan nama kota (misal berdasarkan provinsi X atau pulau Y), dibebaskan untuk memilih. Buat nama-nama kota tersebut dalam sebuah list.
2. Gunakan fungsi sorted(X) untuk mengurutkan secara kecil-ke-besar (sesuai abjad), dimana X adalah contoh variabel list pada langkah (a)
3. Gunakan hasil poin (a), urutkan nama kota di dalam list berdasarkan abjad, untuk mengerjakan poin (b) dan (c).

In [17]:
nama_kota = ["bandung", "medan", "padang", "jakarta", "jambi", "pekanbaru", "bogor", "palembang", "manado", "bali"]
baru = sorted(nama_kota)
print(f'Nama Kota:{baru}')
print(f"4 Kota pertama setelah diurutkan: {baru[:4]}")
print(f"3 Kota terakhir setelah diurutkan: {baru[7:]}")

Nama Kota:['bali', 'bandung', 'bogor', 'jakarta', 'jambi', 'manado', 'medan', 'padang', 'palembang', 'pekanbaru']
4 Kota pertama setelah diurutkan: ['bali', 'bandung', 'bogor', 'jakarta']
3 Kota terakhir setelah diurutkan: ['padang', 'palembang', 'pekanbaru']

## 4. Function dalam List

> Team sales memiliki list total transaksi dari 10 merchant pada bulan Juni 2020, yaitu:
```
total_transaksi = [ 19, 35, 23, 25, 10, 15, 33, 45, 21, 30 ]
```
1. Trx minimum
2. Rata-rata
3. Trx maksimal

Saran langkah-langkah pengerjaan
1. Copy variabel total_transaksi yang ada di soal ke notebook kita (atau ketik ulang boleh)
2. Kemudian, hitung menggunakan function operasi dalam list yang telah dipelajari di kelas pada topik list. Print hasilnya setiap poin (a), (b), dan (c)

In [26]:
total_transaksi = [ 19, 35, 23, 25, 10, 15, 33, 45, 21, 30 ]
jumlah = len(total_transaksi)

trx_min = min(total_transaksi)
avg = sum(total_transaksi)/jumlah
trx_max = max(total_transaksi)

print(f'Nilai Minimal: {trx_min}')
print(f'Nilai Rata-rata: {avg}')
print(f'Nilai Maksimal: {trx_max}')

Nilai Minimal: 10
Nilai Rata-rata: 25.6
Nilai Maksimal: 45

# Advanced

## 5. NumPy Array

> Buatlah array dari 5 bilangan ganjil pertama (dimulai dari 1), Kemudian lakukan perintah berikut :
1. Kali-kan array tersebut dengan 10
2. Bagi-kan array (hasil dari bagian a) dengan 3
3. Kali-kan array (hasil dari bagian b) dengan array baru :
`[-45, 43, 3, 56, 5]`
4. Carilah pada index ke-berapa nilai tertinggi dan terendah dari array (hasil dari bagian c)

Saran langkah-langkah pengerjaan
1. HATI-HATI dalam pengerjaan, karena apabila poin sebelumnya salah, maka selanjutnya akan kebawa salah (misal (b) salah, maka poin (c) sampai (d) akan salah)
2. Untuk array 5 bilangan ganjil pertama boleh manual boleh menggunakan fungsi, dimulai dari 1
3. Ikuti perintah soal, gunakan numpy array, jangan list. Sesuaikan dengan permintaan soal pada setiap butir.

In [29]:
import numpy as np

# Langkah 1: Buat array dari 5 bilangan ganjil pertama
array_a = np.array([1, 3, 5, 7, 9])

# Langkah 2: Kali-kan array dengan 10
array_b = array_a * 10

# Langkah 3: Bagi-kan array_b dengan 3
array_c = np.round(array_b / 3, 2)

# Array baru yang diberikan
array_d = np.array([-45, 43, 3, 56, 5])

# Langkah 4: Kali-kan array_c dengan array_d
array_e = array_c * array_d

# Langkah 5: Carilah index nilai tertinggi dan terendah dari array_e
index_max = np.argmax(array_e)
index_min = np.argmin(array_e)

print("Array a:", array_a)
print("Array b:", array_b)
print("Array c:", array_c)
print("Array d:", array_d)
print("Array e:", array_e)
print("Index nilai tertinggi:", index_max)
print("Index nilai terendah:", index_min)

Array a: [1 3 5 7 9]
Array b: [10 30 50 70 90]
Array c: [ 3.33 10.   16.67 23.33 30.  ]
Array d: [-45  43   3  56   5]
Array e: [-149.85  430.     50.01 1306.48  150.  ]
Index nilai tertinggi: 3
Index nilai terendah: 0

# Terimakasih, salam dari Bogor